{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Check the Dividends for each year" />
        <meta name="author" content="Akhil Kumar" />
        <title>{% block title %}{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Page CSS-->
        <link rel="stylesheet" type = "text/css" href="{% static 'css/main.css' %}">
</head>
<body>

    {% block content %}{% endblock %}
    
</body>
</html>