{% extends "base.html" %}
{% block title %}{{ ticker }}{% endblock %}
{% block content %}

<div class="container" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s; border-radius: 5px;">
    <div class="row pt-3 pd-3">
      <div class="col-sm-12 col-md-6 col-lg-6 pt-3">
        <table class="table table-striped">
          <colgroup>
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 39%;">
            <col span="1" style="width: 28%;">
          </colgroup>
          <thead class="thead-dark">
            <tr style="line-height: 10px;min-height: 10px;height: 10px;">
              <th>S.No</th>
              <th>Ex-Dividend Date</th>
              <th>Cash Amount</th>
            </tr>
          </thead>
        </table>
        <div class="card pd-3" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s; border-radius: 5px; height:500px;overflow:auto;">         
          {{ price | safe}}
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 pt-3">

          <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s; border-radius: 5px;">
            <div class="card-header"><b><h5>{{ meta.name }} <img src="{{ info.logo_url }}" height="30">  <a href="{{ yapi.website }}" <i class="bi bi-box-arrow-up-right"></i> </a></h5></b>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Start Date: </b>{{ meta.startDate }}</li>
              <li class="list-group-item"><b>Total Employees: </b>{{ info.fullTimeEmployees }}</li>
              <li class="list-group-item"><b>Exchange Code: </b>{{ meta.exchangeCode }}</li>
              <li class="list-group-item"><b>Exchange Timezone: </b>{{ info.exchangeTimezoneShortName }}</li>
              <li class="list-group-item"><b>Description: </b>{{ meta.description }}</li>
            </ul>
          </div>
      </div>

</div>
{% endblock %}